filtering/data/
filtering/embeddings/
filtering/args/
filtering/checkpoints/
text_generation/entities/manual/bolagsverket_bulkfil.zip
text_generation/corpus/svt-2023.xml

*.log
data/
.env
venv/
__pycache__/
*.wav
*.flac
*.mp3
*.csv

mlruns/*
*.icloud
